/* Hide the first dropdown-divider if no filter option element is listed before it.
   This can happen for some subset configurations of the block_myoverview course filter. */
.block_myoverview_up button#groupingdropdown + .dropdown-menu li:first-of-type.dropdown-divider:first-of-type {
    display: none;
}

.block_myoverview_up .hidden-courses .grayout{
    color: #808080;
    text-decoration: line-through;
    margin-bottom: 10px;
}

.block_myoverview_up .hidden-courses li
{
  display: block;
        background-image: url([[pix:core|i/course]]);
        background-repeat: no-repeat;
        padding-left: 21px;
        background-position: left 0.2em;
}